anonymous_enable = {{ anonymous_enable }} 
local_enable = {{ local_enable }}
write_enable = {{ write_enable }}
anon_upload_enable = {{ anon_upload_enable }}
#my ip address = {{ ansible_facts.default_ipv4.address }}
